body{
    margin: 0;padding:0;
    min-height:100vh; 
    background-image: url('../src/img/fondo.jpg');
}
.men{
    width: 25vh;
    border-radius: 20px;
    right:15vh;
    height: 50px;
    background-color: white;
    color:rgb(29, 166, 207);
    text-decoration: none;
    font-size:20px;
}
h5{
    font-weight: 300;
}
li>a:hover{
    color: white;
}
footer{
    bottom: 0;
    width: 100%;
}
span{
    color: gray;
    font-size: 12px;
}
.pie{
    background-color: white;
}
h6{
    color: gray;
    font-size: 18px;
} 